{% load staticfiles %}

{% include "Butterfly/header.html" %}


        <!----=====product area====----->
        <div id="heading-block">
                <h2 style="margin-left: 50px; margin-top: 40px;">Indoor Plants</h2>
                </div>

<div class="card">
  <img src="/static/Plants/indoorfinal1.jpg" alt="indoorfinal1" style="width:100%">
  <h1>Areca Palm</h1>
  <p class="price">$2.8</p>
  <p>This leafy plant can be grown anywhere in the house in indirect sunlight.</p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img src="/static/Plants/indoorfinal2.jpg" alt="indoorfinal2" style="width:100%">
  <h1>English Ivy</h1>
  <p class="price">$3</p>
  <p>This green plant helps in reducing airborne fecal-matter particles. it's very beautiful.</p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img src="/static/Plants/indoorfinal3.jpg" alt="Indoor Plants" style="width:100%">
  <h1>Boston Fern</h1>
  <p class="price">$2.89</p>
  <p>Boston ferns can grow quite large and make a showy but elegant addition to your home</p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img src="/static/Plants/indoorfinal4.jpg" alt="Indoor Plants" style="width:100%">
  <h1>Slipper Orchid</h1>
  <p class="price">$1.98</p>
  <p>This plant will definitely bring that missing aesthetic vibe to any dull corner of your house.</p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img src="/static/Plants/indoorfinal5.jpg" alt="Indoor Plants" style="width:100%">
  <h1>Spider Plant</h1>
  <p class="price">$3.45</p>
  <p>This lovely plant combats benzene, formaldehyde, carbon monoxide and xylene,</p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img src="/static/Plants/indoorfinal6.jpg" alt="Indoor Plants" style="width:100%">
  <h1>Snake Plant</h1>
  <p class="price">$3.5</p>
  <p>snake plant is hardy and adds a unique look to your decor with its upright, strap-like leaves.</p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img src="/static/Plants/indoorfinal7.jpg" alt="Indoor Plants" style="width:100%">
  <h1>Weeping Fig</h1>
  <p class="price">$4.5</p>
  <p>This leafy plant helps against emissions from curtains, carpets and furniture.</p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img src="/static/Plants/indoorfinal8.jpg" alt="Indoor Plants" style="width:100%">
  <h1>Peace Lily</h1>
  <p class="price">$3.2</p>
  <p>The peace lily offers elegance and beauty with a unique look. It prefers bright</p>
  <p><button>Add to Cart</button></p>
</div>


{% include 'Butterfly/footer.html' %}
