{% load staticfiles  %}

{% include "Butterfly/header.html" %}


<h1 id="seed1"> Flower seeds</h1>
<div class="card">
   <img src="apple.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Apple<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> An apple is a sweet, edible fruit produced by an apple tree (Malus pumila).</p>

  <p><button>Add to Cart</button></p>
</div>
<div class="card">
   <img src="guava.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Guava<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> Guava is common fruit cultivated in tropical and subtropical regions.</p>

  <p><button>Add to Cart</button></p>
</div>
<div class="card">
   <img src="kiwi1.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Kiwi<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;s
">$...</p>
<p>Kiwifruit or Kiwi is a Chinese gooseberry.<br/><br/></p>

  <p><button>Add to Cart</button></p>
</div>
<div class="card">
   <img src="lichi1.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Litchi<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> Lychee is the sole member of the genus Litchi in the soapberry family.</p>

  <p><button>Add to Cart</button></p>
</div>

<hr />
<div class="container1">
   <img src="seed/" alt="seeds" id="image1"/>
     <img src="apples.jpg" alt="seeds" id="one"/>
     <img src="guava.jpg" alt="seeds" id="two"/>
     <img src="watermelom.jpg" alt="seeds" id="three"/>

<div class="card2">
   <img src="mango1.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Mango<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> Mangoes are juicy stone fruit from numerous species of tropical trees.</p>


  <p><button>Add to Cart</button></p>
</div>
<div class="card2">
   <img src="melon1.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Melon<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> A melon are plants of the family Cucurbitaceae with sweet edible, fleshy fruit.</p>

  <p><button>Add to Cart</button></p>
</div>
<div class="card2">
   <img src="orange1.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Orange<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> The orange is the fruit of the citrus species in the family Rutaceae</p>

  <p><button>Add to Cart</button></p>
</div>
<div class="card2">
   <img src="papaya1.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Papaya<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> The papaya is a small, sparsely branched tree, usually with a single stem.</p>

  <p><button>Add to Cart</button></p>
</div>

<h1 id="veg" >Vegetable Seeds </h1>
<div class="card3">
   <img src="brinjal.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Brinjal<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> Brinjal are used extensively in all parts of the world because of the soft, creamy flesh. </p>

  <p><button>Add to Cart</button></p>
</div>
<div class="card3">
   <img src="broccoli.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Broccoli<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> Broccoli is an edible green plant in the cabbage family.<br/> <br/></p>

  <p><button>Add to Cart</button></p>
</div>
<div class="card3">
   <img src="cabbage.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Cabbage<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> Cabbage is a leafy green biennial plant grown as an annual vegetable crop.</p>

  <p><button>Add to Cart</button></p>
</div>
<div class="card3">
   <img src="carrot.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Carrot<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> The carrot is a root vegetable, usually orange, red, white, and yellow in color.<br/></p>

  <p><button>Add to Cart</button></p>
</div>
<div class="card4">
   <img src="onion.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Onion<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> The onion is a vegetable that is the most widely cultivated species of the genus Allium.</p>

  <p><button>Add to Cart</button></p>
</div>
<div class="card4">
   <img src="potato.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Potato<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p>The potato is a starchy, tuberous crop from the Solanum tuberosum.</p>

  <p><button>Add to Cart</button></p>
</div>
<div class="card4">
   <img src="reddish.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Raddish<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> Radishes are being mostly eaten raw as a crunchy salad vegetable.</p>

  <p><button>Add to Cart</button></p>
</div>
<div class="card4">
   <img src="spring bean.jpg" alt="Flower" style="width: 210px; height: 260px; margin-left: 10px;margin-top: 10px;margin-right: 10px;">
 <h1 style="
    margin-top: 0px;
    margin-bottom: 0px;
">Spring bean<br/>Seeds</h1>
<p class="price" style="
    margin-top: 5px;
    margin-bottom: 5px;
">$...</p>
<p> A bean is a seed of genera of the flowering plant family Fabaceae.</p>

  <p><button>Add to Cart</button></p>
</div>
</body>

{% include "Butterfly/footer.html" %}
