<footer>

         <div id="footer">

            <div class="footer_sub" style="left: 50px">
                <h2>Our Story</h2>
                <p>E-commerce website. you can buy any plant of your choice, we will  deliver your plant to your house.E-commerce website. you can buy any plant of your choice, we will  deliver your plant to your house.E-commerce website. you can buy any plant of your choice, we will  deliver your plant to your house.E-commerce website. you can buy any plant of your choice, we will  deliver your plant to your house.E-commerce website. you can buy any plant of your choice, we will  deliver your plant to your house.E-commerce website. you can buy any plant of your choice, we will  deliver your plant to your house..E-commerce website. you can buy any plant of your choice, we will  deliver your plant to your house..E-commerce website. you can buy any plant of your choice, we will  deliver your plant to your house..E-commerce website. you can buy any plant of your choice, we will  deliver your plant to your house <span><a href="#">Read more..</a></span></p>

                <div class="footer_sub_2" style="Left:50px">



                  <center>
                    <h2>Categories</h2>
                    <ul>
                      <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                      <li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</a></li>
                      <li><a href="#"><i class="fa fa-gift"></i> Offers </a></li>
                      <li><a href="#"><i class="fa fa-image"></i> Gallery </a></li>
                      <li><a href="#"><i class="fa fa-headphones"></i> Customer Services </a></li>
                    </ul>
                  </center>
                </div>

                <div class="footer_sub_3">
                  <center>
                    <h2>Social links</h2>
                    <ul>
                      <li><a href="#"><i class="fa fa-Facebook"></i> Facebook</a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i> Google+</a></li>
                      <li><a href="#"><i class="fa fa-Youtube"></i> Youtube</a></li>
                      <li><a href="#"><i class="fa fa-Twitter"></i> Twitter</a></li>
                      <li><a href="#"><i class="fa fa-Linkedin"></i> Linkedin</a></li>
                    </ul>
                  </center>
                </div>
                <div class="footer_sub_4">
                  <center>
                    <h2>Subscribe Us</h2>
                    <input type="text" name="subs" placeholder="Write your email" class="subs">
                    <input style="margin-left: 250px;" type="submit" name="submit_btn" value="Subscribe" class="sub_btn">
                    <p style="font-size: 13px;" class="sub_p">Enter your e-mail id to get notification by us</p>
                  </center>

                </div>

            </div>

          </div>

</footer>
